@model RealTimeTasks.Web.Models.IndexViewModel

<div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Task Title" id="title" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary btn-block" id="submit">Add Task</button>
    </div>
</div>

<table class="table table-striped table-bordered" data-user-id="@Model.UserId">
    <tr>
        <th>Title</th>
        <th>Status</th>
    </tr>
</table>



@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="/js/index.js"></script>
}